[Unit]
Description="a weather service"

[Service]
Type=simple
ExecStart=/home/vagrant/bin/weather_update
WorkingDirectory=/home/vagrant
Restart=on-failure

[Install]
WantedBy=multi-user.target
